@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap");

body {
  font-family: "Gabarito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: "Gabarito";
    margin-top: 12rem;
    font-size: 3rem;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  #toggleBtn {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.35rem;
    margin-left: 29rem;
    color: black;
    text-align: center;
    border: 1px solid #d1d1d1;
    background-color: #a2c3cf5c;
  }
  img {
    width: 24px;
    height: 24px;
  }
}

.no-rating {
  background-color: #555555;
}

.low-rating {
  background-color: #dc3545;
}

.medium-rating {
  background-color: #ffc107;
}

.high-rating {
  background-color: #28a745;
}

.restroom-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px auto;
  width: 30rem;
  border-radius: 5px;
  background-color: #f9f9f9;

  .crown-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 1.2rem;
    margin-right: auto;
    margin-top: -2rem;
    display: block;
  }


  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    flex-direction: column;
    text-align: center;
  }

  p {
    margin-top: 1.5rem;
    font-weight: bold;
    box-shadow: 0 0 8px #d1d1d1;
    transform: translateY(-50%);
    padding: 0.67rem;
    border-radius: 0.3rem;
    font-size: 28px;
    margin-left: 0.625rem;

    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}
