@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@500&display=swap");

body {
  font-family: "Gabarito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#post-rate-btn {
  font-family: "Gabarito", sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: #000000;
  width: 10rem;
  height: 3rem;
  border-radius: 0.625rem;
}

#rate-btn {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

#rate-btn:hover {
  background-color: #374151;
}

#rate-btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  #rate-btn {
    padding: 0.75rem 1.5rem;
  }
}

#nameContainer,
#ratingContainer {
  text-align: center;
  margin: 1.875rem 0;
}

#nameContainer.restroom-title {
  margin-top: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.review-cards {
  width: 30rem;
  margin: 0 auto;
}

.overall-rating {
  font-weight: bolder;
  color: #000;
  font-size: 2.4rem;
}

.highest-possible {
  font-weight: bolder;
  color: #36454f;
  font-size: 1.4rem;
}

.card {
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0.75rem -1.9rem;
  padding: 6.7%;
  width: 100%;
  text-align: center;
  position: relative;
  height: auto;
  overflow: hidden;
}

.rating {
  font-weight: bold;
  color: #000;
  position: absolute;
  top: 50%;
  left: 5.2%;
  transform: translateY(-50%);
  padding: 0.67rem;
  border-radius: 0.3rem;
  font-size: 28px;
  margin-right: 0.625rem;

  background-color: #333;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.date {
  color: #666;
  position: absolute;
  top: 0.66rem;
  right: 0.66rem;
  font-size: 0.95rem;
  font-weight: bold;
}

.comment {
  top: 50%;
  padding-left: 15%;
  text-align: left;
  overflow: hidden;
  word-wrap: break-word;
}
