@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@500&display=swap");

body {
  font-family: "Gabarito", sans-serif;
}

html {
  background-color: #f5f5f5;
}

#big-logo {
  width: 120px;
  height: 120px;
}

.centered-content {
  position: fixed;
  top: 42.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.front-text {
  margin-top: 100px;
  font-size: 45px;
}

.secondary-text {
  margin-top: 150px;
  font-size: 25px;
}
