@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gabarito", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  padding: 15px 20px;
  color: white;
  background-color: #000000;
}

.icons {
  width: 60px;
}
